<div class = "margin5">
<nav><%=render partial: 'shared/navlinks'%></nav>
<h1>New Topic</h1>
</div>
<body class = "art_page">
<div class = "margin5">
<div class = "col-md-2"></div>
<div class = "col-md-8">

<%= render 'form', topic: @topic %>
</div>
</div>

