<div class = "margin5">
<nav><%=render partial: 'shared/navlinks'%></nav>
<h1>Editing Clan</h1>
</div>
<body class = "art_page">
<div class = "margin5">
<div class = "col-md-2"></div>
<div class = "col-md-8">
<%= render 'form', clan: @clan %>


</div>
</div>
</div>
<div class = "col-md-2"></div>